<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">


  <link rel="stylesheet" href="{{ "/assets/css/app.css" | prepend: site.baseurl }}">

  <!--<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">-->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <script src="{{'/js/modernizr.js'| prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="//cdn.rawgit.com/Gavin-Paolucci-Kleinow/ie-truth/master/ie-truth.min.js"></script>
  {% include opengraph.html %}

</head>
<script type="text/javascript">
  var IE = IeVersion();
  
  if(IE.CompatibilityMode){alert('You are using internet explorer in Compatibility Mode, we cannot display this website correctly when this mode is enabled.')} else {console.log("you are not using IE Compatibility Mode")}

  if(IE.CompatibilityMode){console.log("you are using IE Compatibility Mode")}
</script>
