---
layout: page1
title: "Speakers"
permalink: /speakers/
---


<h2>Conference Speakers</h2> 
<p>Here you can find out everything you ever wanted to know about our speakers!</p>

<div class="speaker-list">
  {% assign speakers = site.speakers | sort: 'home_order'  %}
  {% for post in speakers %}
    {% if post.home_order < 20 && post.published == true %}
    <div class="row pad3 speaker-row">
      <div class="small-12 medium-4 large-3 columns speaker small-only-text-center">
          <h3 id="{{ post.name | slugify }}" class="name">{{post.name}}</h3>
          <span class="sub-title">{{post.wtitle}}</span>
          <span class="sub-title">{{post.org}}</span>
          <img class="thumb" src="{{post.thumb}}" />
      </div>
      
      <div class="small-12 large-push-6 medium-4 large-3 columns small-only-text-center">
        <dl class="bio">
          <dt>On the Web</dt>
          <dd><a href="{{post.web}}">{{post.web | truncate: 30}}</a> </dd>
          {% unless post.twitter == ''%}
          <dt>Twitter</dt>
          <dd><a href="https://twitter.com/{{post.twitter}}">@{{post.twitter}}</a></dd>
          {% endunless %}

          {% for s in site.categories.programme %}
            {% if s.tags contains post.name %}
            {% assign speaking_on1 = true %}
              {%break%}
            {% else %}
              {% assign speaking_on1 = false %}
            {%endif%}
          {% endfor %}

          {% if speaking_on1 == true %}
          <dt>Speaking on:</dt>
          {%endif%}

            {% for s in site.categories.programme %}
            {% if s.tags contains post.name %}              
              <dd>
              <a style="display:block;padding-bottom:1em;" href="{{s.url | prepend: site.baseurl}}">{{s.title}}</a>
              </dd>
            {% endif %}
            {% endfor %}
     
      {% for s in site.categories.programme %}
            {% if s.panel contains post.name %}
          <dt>Part of Panel:</dt>
          <dd>
              <a style="display:block;padding-bottom:1em;" href="{{s.url | prepend: site.baseurl}}">{{s.title}}</a>
          </dd>
        {% endif %}
      {% endfor %}
        </dl>
        
      </div>
      <div class="small-12 large-pull-3 medium-4 large-6 columns">
        {{post.content}}
      </div>
    </div>
    {%endif%}
  {% endfor %}

  {% for speaker in site.speakers %}
    {% if speaker.home_order == 20 %}
    {% if speaker.published == true %}
    <div class="row pad3 speaker-row">
      <div class="small-12 medium-4 large-3 columns speaker small-only-text-center">
          <h3 id="{{ speaker.name | slugify }}" class="name">{{speaker.name}}</h3>
          <span class="sub-title">{{speaker.wtitle}}</span>
          <span class="sub-title">{{speaker.org}}</span>
          <img class="thumb" src="{{speaker.thumb}}" />
      </div>
      
      <div class="small-12 large-push-6 medium-4 large-3 columns small-only-text-center">
        <dl class="bio">
          <dt>On the Web</dt>
          <dd><a href="{{speaker.web}}">{{speaker.web | truncate: 30}}</a> </dd>
          {% unless speaker.twitter == ''%}
          <dt>Twitter</dt>
          <dd><a href="https://twitter.com/{{speaker.twitter}}">@{{speaker.twitter}}</a></dd>
          {% endunless %}
          
          {% for s in site.categories.programme %}
            {% if s.tags contains speaker.name %}
            {% assign speaking_on2 = true %}
            {% break %}
            {% else %}
              {%assign speaking_on2 = false %}
            {%endif%}
          {% endfor %}

          {% if speaking_on2 == true %}
          <dt>Speaking on:</dt>
          {%endif%}
            {% for s in site.categories.programme %}
            {% if s.tags contains speaker.name %}
              <dd>
              <a style="display:block;padding-bottom:1em;" href="{{s.url | prepend: site.baseurl}}">{{s.title}}</a>
              </dd>
            {% endif %}
            {% endfor %}

         {% for s in site.categories.programme %}
            {% if s.panel contains speaker.name %}
          <dt>Part of Panel:</dt>
          <dd>
              <a style="display:block;padding-bottom:1em;" href="{{s.url | prepend: site.baseurl}}">{{s.title}}</a>
          </dd>
        {% endif %}
      {% endfor %}
        </dl>
        
      </div>
      <div class="small-12 large-pull-3 medium-4 large-6 columns">
        {{speaker.content}}
      </div>
    </div>
    {%endif%}
    {% endif %}
  {% endfor %}
</div> 
